$tablets: 768px;
$phones: 480px;

@import "./layout/media.scss";

@import "./layout/normalize.scss";
@import "./layout/fonts.scss";
@import "./layout/base.scss";

@import "./blocks/radio-menu.scss";

@import "./blocks/first-screen.scss";
@import "./blocks/header.scss";
@import "./blocks/sidebar.scss";

@import "./blocks/best.scss";
@import "./blocks/slider.scss";
@import "./carousel/owl.carousel.min.css";
@import "./carousel/owl.theme.default.css";
@import "./blocks/team.scss";
@import "./blocks/menu.scss";
@import "./blocks/reviews.scss";
@import "./blocks/delivery.scss";
@import "./blocks/contacts.scss";

@import "./blocks/footer.scss";
