.best{
  background: url('../../img/we/bg.jpg') center center / cover no-repeat;
  text-align: center;
}

.best__title{
  color: #2f3234;
  font-family: 'Gagalin_Regular', sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  margin-top: 125px;
  margin-bottom: 40px;
}

.best__list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.best__item{
  width: 290px;
}

.best-item__img{
  padding-bottom: 25px;
}

.best-item__title{
  color: #2f3234;
  font-family: 'Lifehack_Medium';
  font-size: 24px;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
}

.best-item__text{
  opacity: 0.8;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.02px;
}