@charset "UTF-8";
.content__radio-item {
  margin-bottom: 3px; }

.radio input {
  display: none;
  /* Прячем исходный переключатель */ }

.radio span {
  position: relative;
  /* Относительное позиционирование */
  display: inline-block;
  /* Строчно-блочный элемент */
  /* Размеры */
  /* Серый цвет фона */
  border-radius: 50%;
  padding: 7px;
  /* Круглый переключатель */
  /* Тень внутри */ }

.radio input:checked + span {
  border: 1px solid #fff;
  /* Красный цвет фона */ }

/* Добавляем белую точку по центру */
.radio input + span::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  background: #fff;
  width: 6px;
  height: 6px;
  border-radius: 50%; }
