.first-screen__content{
  position: relative;
  // display: flex;
  // flex-direction: column;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 95px;
}

.first-scr {
  flex: 1;
  display: flex;
  align-items: center;
}

.first-scr__block-img{
  margin-top: -5px;
}

.burger-img{
  width: 417px;
  height: 424px;
  margin-left: 45px;
}

.burger-wrap{
  position: absolute;
  width: 451px;
  height: 241px;
  margin-top: 63px;
  padding-left: 20px;
}

.content__radio-menu{
  display: flex;
  flex-direction: column;
}

.first-scr__text{
  margin-left:20px;
  margin-top: 40px;
}

.first-scr__title{
  font-family: 'Gagalin_Regular', sans-serif;
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 25px;
}

.first-scr__desc{
  font-family: 'Lifehack_Medium';
  font-size: 65px;
  color: #fff;
  line-height: 60px;
}

.scroll{
  position:absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%,-50%);
}
