.first-screen {
  background: url(../../img/first-screen/texture.png) no-repeat,
    url(../../img/first-screen/first-scr-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  // height: 100vh;
}

.first-screen__container {
  justify-content: flex-start;
}

.first-screen__content {
  position: relative;
  display: flex;
  flex: 0.8;
  align-items: center;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    margin-top: rem(70px);
  }

  @include phones {
    // margin: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
}

.first-screen__block-img {
  margin-top: rem(-30px);
  padding-left: rem(15px);

  @include tablets {
    padding: 0;
  }
}

.first-screen__img {
  // max-width: 100%;
  @include phones {
    width: 80%;
    margin-left: 10%;
  }
}

.first-screen__text {
  margin-left: rem(10px);
  margin-top: rem(40px);

  @include tablets {
    text-align: center;
    padding-left: 18%;
    padding-right: 20%;
  }
}

.first-screen__desc {
  font-family: "Lifehack_Medium";
  letter-spacing: -1.63px;
  font-size: rem(65px);
  color: #fff;
  line-height: rem(60px);

  @include phones {
    font-size: rem(54px);
  }
}

.scroll {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -16%;
  transform: translateX(-50%);
}

.scroll__img {
  max-width: 100%;
  width: rem(29px);
  height: rem(14px);
}
