.menu {
  background: url("../../img/menu/bg.png") center center / cover no-repeat;
  position: relative;
  color: #fff;
  font-family: "Gagalin_Regular";

  &__subtitle-text {
    font-size: rem(40px);
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    bottom: 21%;
    left: -120%;
    transform: rotate(-90deg);

    @include tablets{
      bottom: 14%;
    }

    @include phones{
      bottom: 20%;
      left: -100%;
    }
    &_vegan {
      left: -130%;
      bottom: 23%;
      @include tablets{
        bottom: 15%;
      }
      @include phones{
        bottom: 22%;
        left: -110%;
      }
    }
    &_diet {
      bottom: 19%;
      left: -98%;
      @include tablets{
        bottom: 13%;
      }
      @include phones{
        bottom: 18%;
        left: -90%;
      }
    }
  }
}

.menu__title {
  font-size: rem(72px);
  padding-left: 9%;
  padding-top: 9%;

  @include tablets{
    padding-top: 13%;
    padding-left: 3%;
  }

  @include phones{
    font-size: rem(60px);
    margin-left: 10%;
  }
}

.menu__accordeon {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  @include phones{
    width: 100%;
  }
}

.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;  
}

.menu__item {
  height: 100%;
  display: flex;
  justify-content: flex-end;
 

  &--active {
    .menu__content {
      transition: .3s;
      width: 100%;
    }

    .menu__subtitle-text{
      left: -130%;
    }
  }
}

.menu__subtitle {
  height: 100%;
  background-size: cover;
  width: rem(80px);
  position: relative;
  // filter: brightness(50%);
  background-color: rgba(20, 20, 20, 0.7);

  @include phones{
    width: rem(90px);
  }
}

.menu__content {
  width: 0px;
  font-size: rem(14px);
  font-family: "Ubuntu";
  font-weight: 300;
  overflow: hidden;
  background-color: rgba(48, 49, 53, 0.7);
}

.menu__text {
  padding: rem(46px) rem(28px) 0px rem(28px);
  line-height: 1.9;
}
