.radio-menu{
  position: fixed;
  top: 14%;
  right: rem(50px);
  // right: 10%;
  z-index: 10;
  // display: flex;
  // flex-direction: column;

  @include tablets{
    display: none;
  }
}

.radio-menu__item {
  margin-bottom: rem(5px);
}

.radio-menu__item-active .radio-menu__link{
  border: 1px solid #fff;
  border-radius: 50%;
}

.radio-menu__link{
  position: relative;
  display: block;
  width: rem(16px);
  height: rem(16px);

  &::before{
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    width: rem(6px);
    height: rem(6px);
  }
}