.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.review {
  position: relative;
  filter: grayscale(100%);

  &:hover {
    .review__text {
      opacity: 1;
    }
  }
}

.review__text {
  font-size: rem(14px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
  padding: rem(45px) 5% rem(10px);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.review__title {
  font-size: 14px;
  font-family: "Gagalin_Regular";
  text-transform: uppercase;
  margin-bottom: rem(30px);

  @include tablets {
    text-align: center;
    margin-top: rem(-7px);
    margin-bottom: rem(5px);
  }

  @include phones{
    font-size: 24px;
  }
}

.review__desc {
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 24px;
  margin-bottom: rem(17px);

  @include tablets {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-bottom: rem(30px);
  }

  @include phones{
    display: none;
  }
}

.review__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: 500;
  padding: rem(13px) rem(15px);
  background-color: #2f3234;
  border-radius: 3px;

  @include tablets {
    margin-left: 35%;
  }

  @include phones{
    margin: 13% 21% 0;
    // margin-top: 13%;

    span{
      display: none;
    }
    &:after{
      content: 'читать отзыв';
    }
  }
}
