.slider{
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  
  &__container{
    max-width: rem(1003px);
  }

  &__wrapper{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    position: relative;

    @include tablets{
      margin-top:rem(40px);
    }

    @include phones{
      margin-top: 0;
      width: 100%;
    }
  }

  &__prev, &__next{
    max-width: 100%;
    width: rem(29px);
    height: rem(14px);
  }
  
  &__prev{
    transform: rotate(90deg);
  }

  &__next{
    transform: rotate(-90deg);
  }

  &__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include tablets{
      flex-direction: column;
      text-align: center;
      width: 90%;
      padding: 0 rem(40px);
    }

    @include phones{
      width: 100%;
      padding: 0;
    }
  }

  &__images{
    flex: 1;
    // position: relative;
  }

  &-images__contain, &-images__kkl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #ffffff;
    font-family: 'Gagalin_Regular';
    font-size: rem(14px);
  }

  &-images__contain{
    width: rem(90px);
    background-color: rgb(240,140,51);
    padding: rem(10px) 0;
    border-radius: 4px;
    top: rem(-69px);

    @include tablets{
      top: rem(-90px);
      left: 20%;
    }

    @include phones{
      top: rem(45px);
      left: 0;
    }
  }

  &-images__kkl{
    opacity: .5;

    @include tablets{
      width: rem(95px);
      top: rem(-87px);
      right: 20%;
    }

    @include phones{
      top:rem(40px);
      right: 0;
    }
  }
  
  &__svg{
    width: rem(45px);
    height: rem(45px);
    margin-bottom: rem(10px);
  }

  &__img{
    max-width: rem(505px);
    margin-left: -25px;
    @include tablets{
      margin-bottom: rem(45px);
     }

    @include phones{
      max-width: rem(404px);
      margin-top: 150px;
      margin-bottom: rem(20px);
    }
  }

  &__text{
    flex: 1;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(23.97px);
    @include tablets{
      width: 90%;
    }

    @include phones{
      width: 100%;
      font-size: rem(16px);
      // padding: 0;
    }
  }

  &__title{
    font-family: 'Gagalin_Regular';
    font-size: rem(72px);
    font-weight: 400;
    line-height: rem(63.93px);
    margin-bottom: rem(40px);
    text-transform: uppercase;

    @include tablets{
      margin-bottom: rem(56px);
    }

    @include phones{
      margin-bottom: rem(20px);
      font-size: rem(60px);
    }
  }

  &__desc{
    margin-bottom: rem(36px);

    @include tablets{
      margin-bottom: rem(60px);
      width: 100%;
    }

  }

  &__order-row{
    display: flex;
    align-items: baseline;

    @include tablets{
      justify-content: center;
    }
  }

  &__cost{
    color: #e35028;
    font-family: 'Gagalin_Regular';
    font-size: rem(72px);

    @include phones{
      font-size: rem(55px);
    }
    span{
      font-size: rem(30px);
      margin-left: rem(-20px);
      margin-right: rem(30px);

      @include phones{
        margin-left: rem(-10px);
        font-size: rem(25px);
      }
    }
  }
}